body {
   font-family: 'roboto', 'Courier New', Courier, monospace;
}

a {
    color: #E5E7EB;
    font-size: 18px;
}

header {

}

.logo {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 15px;
    align-items: center;
}


.hero {
    font-size: 48px;
    font-weight: 700px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 50px;
    Flex: 1 1 1000px;
    flex-shrink: 0;
    min-width: 0;
    overflow: hidden;
}

.hero img {
    overflow: hidden;
    flex-shrink: 0;
    max-width: 300px;

}

.button_start {
    flex: 0 0 80px;
    height: 30px;
    justify-self: self-start;
    align-self: self-end;
    background-color: #3882F6;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600px;
}

.button_end {
    background-color: #3882F6;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600px;
    flex: 0 0 80px;
    height: 30px
}

.psub {
    font-size: 18px;
    flex: 0 0 1px;
}

.info {
    display: flex;
    justify-self: flex-end;

}

.infomain {
    display: flex;
    font-size: 32px;
    font-weight: 700px;
    color: #1F2937;
    justify-self: flex-start;
}

li {
    list-style: none;
    font-size: 12px;
    padding: 15px;
}

img {
    display: flex;
    justify-content: flex-end;
}

.info img {
    border-radius: 10px;
    border: 5px solid #3882F6;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

.text {
    display: flex;
    align-items: center;
    flex: 0 0 250px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    justify-content: flex-start;
    padding: 70px;
    flex-direction:column
}

.name {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}

.footer {
   display: flex;
   background-color: #1F2937;
    padding: 15px;
    color: #F9FAF8; 
    justify-content: center;
}


